* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('assets/bg.svg');
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center
}

button {
    cursor: pointer;
}

.container {
    width: 650px;
    height: 650px;
    background-color: white;
    border: 20px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column
}

.horizontalSketches {

    flex: 1;
    display: flex;
}

.verticalSketches {
    border: 1px solid black;
    flex: 1;
}

.go-black {
    background-color: black;
}

.widgets {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.widgets button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px dashed black;

    &:active {
        opacity: 0.8;
    }
}

#set-grid-size {
    background-color: rgb(23, 168, 230)
}

#set-color-method,
#random-color,
#custom-color {
    background-color: rgb(18, 219, 149);
    margin-left: 20px;
    width: 205px;
}

#color-selector {
    width: 52px;
    height: 52px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
}

#clear-canvas {
    background-color: rgb(225, 181, 23);
    margin-left: 20px;
}

.author {
    padding: 10px;
    background-color: white;
    width: 670px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Tahoma;
    background-image: linear-gradient(to left, rgb(0, 174, 255), rgb(67, 67, 244) 60%);
    color: white;
    font-weight: bold;
}